* {
    font-family: 'Prompt', sans-serif;
}
.logo-agence {
    width: 75px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    }

nav {
    background-color: rgb(255, 255, 255); /* 0.7 est l'alpha */
    overflow: hidden;
    margin-top: 30px;
    border-radius: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    width: 600px; /* ou toute autre hauteur que vous souhaitez */
    left: 27%; /* positionnement à 50% de la largeur de l'écran */
}
    

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center; /* Add this line to center the text */
}
  
nav li {
  display: inline-block; /* Use "display: inline-block;" instead of "float: left;" */
}
  
nav li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
}
  
nav li a:hover {
  background-color: #848484;
  transition: all 0.3s ease;
}

body {
  background-image: url('/img/background\ \(1\).png');
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0;
  background-repeat: no-repeat;
}

.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    text-shadow: #000 1px 0 10px;
  }
  

/*Section 1*/

.sec1 {
    background-color: #fff;
    height: 200px;
}

/* Section 2 */
.sec2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sec2 img {
    float: left;
    margin-right: 20px;
    width: 100px;    
}

.sec2 p {
    float: right;
    width: 60%;
}

/* Bas de page */

footer {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin: 0
}

footer img {
    width: 30px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
  display: inline-block;
  margin-top: 5px;
}

footer .copyright {
  font-size: 12px;
  margin-top: 10px;
}
